Week-1/data/MNIST/raw/train-labels-idx1-ubyte.gz
Week-1/data/MNIST/raw/train-labels-idx1-ubyte
Week-1/data/MNIST/raw/train-images-idx3-ubyte
Week-1/data/MNIST/raw/train-images-idx3-ubyte.gz
Week-1/data/MNIST/raw/t10k-labels-idx1-ubyte
Week-1/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Week-1/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Week-1/data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
Week-2/__pycache__/blocks.cpython-314.pyc
Week-2/__pycache__/dataset.cpython-314.pyc
Week-2/__pycache__/model.cpython-314.pyc
Week-2/__pycache__/blocks.cpython-312.pyc
Week-2/__pycache__/dataset.cpython-312.pyc
Week-2/__pycache__/model.cpython-312.pyc
